:root {
    --primary: #42b883;
    --primary-1: #3ba374;
    --black: #4d4d4d;
}

.color-black {
    color: var(--black) !important;
}

a {
    text-decoration: none !important;
    color: var(--primary) !important;
}

a:hover {
    text-decoration: underline !important;
}

.hover-no-underlined:hover {
    text-decoration: none !important;
    color: var(--primary-1) !important;
}

.text-primary-1 {
    color: var(--primary) !important;
}

.custom-border-bottom {
    border-bottom: 1px solid var(--primary);
}

.posts-section-header {
    width: 100%;
    height: 10rem;
    background-color: var(--primary);
    position: relative;
}

.title-header {
    font-size: 4rem;
    font-size: 4rem;
    position: absolute;
    z-index: 1;
    top: 35px;
    left: 35px;
    color: #fff;
}

.category-section .list-group .list-group-item , 
.filter-section .list-group .list-group-item {
    border: none !important;
    cursor: pointer;
}

.category-section .list-group .list-group-item:hover, 
.filter-section .list-group .list-group-item:hover, 
.category-section .list-group .list-group-item.active,
.filter-section .list-group .list-group-item.active,
.bg-primary-1 {
    background-color: #42b883 !important;
    color: #fff !important;
}

.category-section .list-group .custom-margin-bottom:last-child,
.filter-section .list-group .custom-margin-bottom:last-child {
    margin-bottom: 0 !important;
}

.custom-height {
    height: 100%;
}

.custom-col {
    width: 50% !important;
}

.custom-font {
    color: lightgray;
    font-size: 1.5rem;
    line-height: 0;
}

.post-card .post-title,
.post-card .post-body,
.post-card .post-category, 
.post-card .post-info {
    padding: .75rem;
}

.post-img img {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    object-fit: cover;
}

.post-title a {
    line-height: 1.38em;
    max-height: 2.7em;
}

.post-body p {
    font-size: .9rem;
}

.post-category {
    position: absolute;
    top: 0;
}

.post-category span {
    font-size: .8rem;
}

.post-info {
    background-color: whitesmoke;
}

.avatar-img img {
    white-space: nowrap;
    background-color: #c3c3c3;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    color: #fff;
    display: inline-flex;
    font-size: .75rem;
    text-align: center;
    vertical-align: middle;
    width: 2rem;
}

.author a:hover {
    color: var(--primary) !important;
    text-decoration: none !important;
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 768px) {
    .hide-mobile {
        display: none;
    }

    .mobile-custom-col-12 {
        width: 100% !important;
    }
}

@media only screen and (max-width: 425px) {
    .custom-col {
        width: 100% !important;
    }
}