:root {
    --primary: #42b883;
    --primary-1: #3ba374;
}

a {
    text-decoration: none !important;
    color: var(--primary) !important;
}

a:hover {
    text-decoration: underline !important;
}

.hover-no-underlined:hover {
    text-decoration: none !important;
    color: var(--primary-1) !important;
}

.body-section-header {
    width: 100%;
    height: 10rem;
    background-color: var(--primary);
    position: relative;
}

.title-header {
    font-size: 4rem;
    font-size: 4rem;
    position: absolute;
    z-index: 1;
    top: 16%;
    left: 10%;
    color: #fff;
}

.category-section .list-group .list-group-item , 
.filter-section .list-group .list-group-item {
    border: none !important;
    cursor: pointer;
}

.category-section .list-group .list-group-item:hover, 
.filter-section .list-group .list-group-item:hover, 
.category-section .list-group .list-group-item.active,
.filter-section .list-group .list-group-item.active,
.bg-primary-1 {
    background-color: #42b883 !important;
    color: #fff !important;
}

.category-section .list-group .custom-margin-bottom:last-child,
.filter-section .list-group .custom-margin-bottom:last-child {
    margin-bottom: 0 !important;
}